body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  border: dotted;
  width: 600px;
  margin: 25px auto;
  padding: 25px 100px 50px;
  background-color: pink;
  content: ;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  color: rgb(14, 73, 93);
}
img {
  border-radius: 8px;
}
